[Unit]
Description=AMD GPU Fan Control

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/sbin/amdgpu-fancontrol
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
